/**
 * Shadows
 * Getter exemple:
 * .card { @extend %elevation-button; }
 */

/* 
Suggest by Dextra:
$elevations: (
  button: '0 4px 2px 0',
  cardMenu: '0 2px 4px 0'
);
*/

$elevations: (
  e1: "0 2px 4px 0",
  e2: "0 4px 2px 0",
  e3: "0 6px 10px 0",
  e4: "0 4px 8px 0",
  e5: "0 8px 12px 0",
);

$default-color: rgba(color(neutral, black), 0.15);

%elevation {
  @each $name, $elevation in $elevations {
    &-#{$name} {
      box-shadow: #{$elevation} #{$default-color};
    }
  }
}

@mixin elevation($elevation, $color: $default-color) {
  box-shadow: #{map-get($elevations, $elevation)} #{$color};
}
